td{
    min-width: none;
}
.billboard-title{
    font-family: "Nothing You Could Do", cursive;
    color: #FF33CC;
    margin: 0;
    text-shadow: 3px 3px 3px #7a00f4;
    text-align: center;
    font-size: 5rem;
    
}
.billboard-text{
    font-family: "Nothing You Could Do", cursive;
    color: #FF33CC;
    margin: 0;
    text-shadow: 3px 3px 3px #7a00f4;
    text-align: center;
    font-size: 2rem;
    
}
.billboard-column{
    float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.billboard-row{
  content: "";
  display: flex;
  clear: both;
}
.billboard-content{
    z-index: 1;
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 0.7rem white; inset: 1px 1px 1rem white;

}
.billboard-head{
    display: grid;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotate3d(0, -1.5,0, 5deg);
    background-color: #181818;
    text-shadow: 1px 1px white inset 1px 1px white;
    border: solid black;
    height: 16rem;
    width: 33.8rem;
}
.billboard{
    top: 36%;
    left: 50%;
    min-width: 1rem;
    min-height: 1rem;
    height: 49rem;
    perspective: 210px;
    position: absolute;
}
#todo-table{
    border-collapse: collapse;
    color: white;
    border: solid 1px;
}
.todo-th{
    min-width: 9rem;
    border: solid 1px;
    
}

.todo-td{
    min-width: 9rem;
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;
}

.todo-template {
    display: none;
}
.todo-modal{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.todo-row{


}
::placeholder {
    color: white;
    opacity: 1; 
  }
.todo-input{
    background: transparent;
    border: 0;
    border-bottom: 1px dashed #83a4c5;
    width: 275px;
    outline: 0;
    padding: 0;
    font-style: italic;
    width: revert;
    color: white;
    
}
